body{
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;
    height: 500px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 50%;
    display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
    display: none;
}
.btn{
    padding: 6px;
    background-color: rgb(20, 72, 107);
    border: none;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 3px 2px 5px gray;
}

.btn-secondary{
    background-color: #fff;
    color: rgb(20, 72, 107);
    box-shadow: 3px 2px 5px gray;
}